@import "colors.css";


* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo", "Geist Mono Nerd Font Propo",  monospace;
    font-weight: 500;
}

window#waybar {
    background-color: transparent;
    color: @secondary;

}

.modules-left {
    background-color: @on_primary;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.modules-right {
    background-color: @on_primary;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#workspaces {
    padding: 2px 4px;
    margin: 7px 0;
}

#workspaces button {
    background-color: @primary_container;
    padding: 3px 12px;
    border-radius: 10px;
    margin: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background-color: @primary;
    min-width: 1.2rem;
    color: @on_secondary;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
    color: transparent;
}

#workspaces button:hover {
    opacity: 0.8;
    background-color: @on_primary_container;
    color: @on_secondary;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}


#clock {
    margin: 0 7px;
    color: @primary;
}

#clock.date {
    color: @secondary
}

#pulseaudio {
    margin: 0 15px;
    color: @tertiary
}

#tray {
	margin-left: 15px;
}

#custom-swaync {
	margin: 0 15px 0 0px;
}
