@import "colors.css";


* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-weight: 500;
}

window#waybar {
    /* background-color: @on_primary; */
    background-color: rgba(0, 0, 0, 0.5);
}

#workspaces {
    color: @fg;
}

#workspaces button {
    /* background-color: @primary_container; */
    padding: 6px 10px
}

#workspaces button.active {
    /* background-color: @inverse_primary;
    color: @on_primary_container; */
    box-shadow: inset 0 -3px 0 @bg;
}


#workspaces button:hover {
    box-shadow: inset 0 -3px 0 @bg;
}


#clock {
    color: @fg
}

#clock.date {
    color: @fg
}

#pulseaudio {
    color: @variant
}

#tray,
#clock,
#clock.date,
#pulseaudio {
    padding: 6px 10px
}

